.sign_container {
  max-width: 102.4rem;
  margin: 0 auto;
}
.signin_wrapper {
  /* margin: 10rem; */
  /* max-width: 80%; */

  margin-top: 9.6rem;
  padding: 2rem;
  min-height: 70vh;
  text-align: left;
}
.signin_wrapper input {
  background: #fafafa;
  border: 1px solid #e9e9e9;
  font-size: 1.7rem;
  padding: 0.8rem;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.signin_wrapper h2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;

  font-family: "Righteous", cursive;
  color: var(--color-pry);
  font-size: 5rem;
}

.signin_wrapper form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 35rem;
  /* align-items: flex-start; */
}
.signin_wrapper form label {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.signin_wrapper form button {
  cursor: pointer;
  background: #0d1831;
  color: #ffffff;
  border: 1px solid #0d1831;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  /* align-self: center; */
}

.error_label {
  color: #f44336;
  font-weight: 600;
  margin: 0 0 10px 0px;
  font-size: 1.2rem;
}

.signin_progress {
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */

  align-self: center;
}

.form_group {
  margin-bottom: 1rem;
}

.signin_wrapper form button {
  width: 100%;
  padding: 1rem;
}
